@import "tailwindcss";

:root {
  --background: #0D1117;
  --foreground: #C9D1D9;
  --primary: #22d3ee; /* cyan-400 */
  --secondary: #161B22;
  --accent: #22d3ee;

  --card: #161B22;
  --card-foreground: #C9D1D9;

  --popover: #161B22;
  --popover-foreground: #C9D1D9;

  --primary-foreground: #0D1117;

  --secondary-foreground: #C9D1D9;

  --muted: #161B22;
  --muted-foreground: #C9D1D9;

  --accent-foreground: #0D1117;

  --destructive: #f87171; /* red-400 */
  --destructive-foreground: #0D1117;

  --border: #30363d;
  --input: #30363d;
  --ring: #22d3ee;

  --radius: 0.5rem;
}


@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-destructive: var(--destructive);
  --color-muted: var(--muted);
  --color-card: var(--card);
  --color-popover: var(--popover);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --font-sans: "Inter", sans-serif;
  --font-mono: "Fira Code", monospace;
}


body {
  background: var(--background);
  color: var(--foreground);
}
